@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(
    242.33deg,
    rgba(89, 133, 185, 0.28) -44.37%,
    rgba(120, 21, 247, 0.28) -44.36%,
    rgba(56, 135, 207, 0) 126.24%
  );
  font-family: "Roboto", sans-serif;
}

.container {
  color: #1c1c1c;
  background: #F4F9FF;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(14, 29, 47, 0.25);
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ECF4FF;
  border-radius: 100px;
  border: 2px solid #0E1D2F;
  color: #0E1D2F;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: #F3D9FF;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 36px;
  padding: 60px;
}

.projetos li h4 {
  display: inline;
}

.projetos h3 {
  font-weight: 700;
  font-size: 34px;
  margin: -5px;
}

.projetos h4 {
  color: #1c1c1c;
  font-weight: 400;
}

.projetos li {
  margin-bottom: 80px;
  box-sizing: border-box;
}

.codepen li {
  margin-top: 10px;
}

.projetos a {
  text-decoration: none;
  font-size: 28px;
}

.projetos a:hover {
  font-size: 29px;
}

.projetos a h4:hover {
  color: #C71585;
}

#ultimo-item {
  margin-bottom: -80px;
}

.dark {
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container {
  background: #333439;
}

.dark .cabecalho {
  color: #F7F7F7;
}

.dark .tema button {
  background: #1C1C1C;
  border: 2px solid #F7F7F7;
  color: #FFFFFF;
}